{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{% block title %}NetMovie{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all-fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plyr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="preloader d-none">
        <div class="loader-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    {% include 'components/navbar.html' %}

    {% block content %} {% endblock %}

    {% include 'components/footer.html' %}
    <a href="#" id="scroll-top"><i class="far fa-arrow-up-from-arc"></i></a>
</body>

</html>