{% extends 'cinema/base-site.html' %}
{% load static %}
{% block content %}
    <main class="main">

        <div class="movie-single py-80" dir="rtl">
            <div class="container">
                <div class="movie-single-wrap">

                    {% include 'components/media-details-content.html' with media=movie media_type='movie' links=movie.links.all %}

                    <div class="movie-area pb-80" dir="rtl">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="site-heading-inline">
                                        <h2 class="site-title">شما ممکن دوست داشته باشید</h2>
                                        <a href="#" class="theme-btn">مشاهده همه<i class="far fa-angles-left"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="sw-2" dir="ltr">
            
                                <div class="season-content">
                                    
                                    <div class="movie-slider owl-carousel owl-theme">
                                        {% for related_movie in movie.related_movies.all|slice:"10" %}
                                        <div class="movie-item">
                                            <div class="movie-img">
                                                <img src="{{ related_movie.baner.url }}" alt="">
                                                <a href="{% url 'media:movie-details' related_movie.slug %}" class="movie-play"><i class="icon-play-4"></i></a>
                                            </div>
                                            <div class="movie-content" dir="rtl">
                                                <h6 class="movie-title"><a href="#">{{ related_movie.persian_name }}</a></h6>
                                                <div class="movie-info">
                                                    <span class="movie-season">{{ related_movie.duration|date:'G ساعت و i دقیقه' }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if msg == 'send comment success' %}
                        <div class="alert alert-success">
                            <p>نظر شما با موفقیت ثبت شد و پس از تایید نمایش داده میشود</p>
                        </div>
                    {% endif %}
                    
                    
                    <div class="movie-comment mt-50">
                        <ul class="nav nav-underline mb-3" id="movieComment-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="movieComment-tab1" data-bs-toggle="pill"
                                    data-bs-target="#pills-movieComment1" type="button" role="tab"
                                    aria-controls="pills-movieComment1" aria-selected="true">دیدگاه ها
                                    <span>{{ comment_count }}</span></button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="movieComment-tab2" data-bs-toggle="pill"
                                    data-bs-target="#pills-movieComment2" type="button" role="tab"
                                    aria-controls="pills-movieComment2" aria-selected="false">بازدید
                                    <span>۰۸</span></button>
                            </li>
                        </ul>
                        <div class="tab-content" id="movieComment-tabContent">
                            <div class="tab-pane fade show active" id="pills-movieComment1" role="tabpanel"
                                aria-labelledby="movieComment-tab1" tabindex="0">
                                <div class="movie-comment-wrap">
                                    {% if request.user.is_authenticated %}
                                    <div class="comment-form">
                                        <h4>ارسال دیدگاه</h4>
                                        <form method="post">
                                            {% csrf_token %}
                                            <p id="replay-warning" class="text-warning p-1 d-none">درحال پاسخ به: <span class="text-info" id="replay-username">USERNAME</span></p>
                                            {{ comment_form.parent }}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ comment_form.message }}
                                                    </div>
                                                    <button type="submit" class="theme-btn">دیدگاه پست<i class="far fa-paper-plane"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    {% endif %}

                                    <div class="comment-list">
                                        {% for comment in comments %}
                                        <div>
                                            <div class="comment-item">
                                                <div class="comment-img">
                                                    <img src="{% if comment.user.profile.picture %}{{ comment.user.profile.picture.url }}{% else %}{% static 'images/profile.jpeg' %}{% endif %}" alt="thumb">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="comment-author">
                                                        <div class="author-info">
                                                            <h5>{{ comment.user }}</h5>
                                                            <span><i class="far fa-clock"></i>{{ comment.time|date:'G:i:s Y/n/j' }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>{{ comment.message|linebreaksbr }}</p>
                                                    </div>
                                                    <div class="comment-action">
                                                        <a onclick="replay({{ comment.id }}, '{{ comment.user }}')"><i class="far fa-reply"></i>پاسخ</a>
                                                        <!-- <a href="#"><i class="far fa-thumbs-up"></i>۲.۵ هزار</a>
                                                        <a href="#"><i class="far fa-thumbs-down"></i>۱.۲ هزار</a> -->
                                                    </div>
                                                </div>
                                            </div>
                                            {% if comment.comment_set.exists %}
                                            {% include 'components/replay-comment.html' with comments=comment.comment_set.all_accepted %}
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                                <script>
                                    function replay(target_id, tatget_name){
                                        let replay_id = document.getElementById('id_parent').value = target_id;
                                        document.getElementById('replay-username').innerText = tatget_name;
                                        document.getElementById('replay-warning').classList.add('d-inline');
                                        document.getElementById('replay-warning').classList.remove('d-none');
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </main>
{% endblock %}