{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{% block title %}NetMovie{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all-fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="preloader d-none">
        <div class="loader-ripple">
            <div></div>
            <div></div>
        </div>
    </div>


    {% include 'components/navbar.html' %}
    <main class="main">

        <div class="site-breadcrumb" style="background: url({% static 'images/01-bg-ganr.jpeg' %})">
            <div class="container">
                <h2 class="breadcrumb-title">حساب کاربری من</h2>
                <ul class="breadcrumb-menu" dir="rtl">
                    <li><a href="index.html">خانه</a></li>
                    <li class="active">حساب کاربری من</li>
                </ul>
            </div>
        </div>
        <div class="profile-area py-100" dir="rtl">
            <div class="container">
                <div class="profile-intro">
                    <div class="row">
                        <div class="col-lg-4 col-xl-4">
                            <div class="intro-left">
                                <div class="intro-img">
                                    <img src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'images/profile.jpeg' %}{% endif %}" alt="">
                                </div>
                                <div class="intro-content">
                                    <h4>
                                        {% if request.user.get_full_name %}
                                        {{ request.user.get_full_name }}
                                        {% else %}
                                        {{ request.user.username }}
                                        {% endif %}
                                    </h4>
                                    <p>{{ request.user.number }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-xl-8">
                            <div class="intro-right">
                                <div class="intro-item">
                                    <div class="intro-content">
                                        <h4 class="intro-amount">۷۹۰,۰۰۰<span>/ماهانه</span></h4>
                                        <p>اکانت پرمیوم</p>
                                    </div>
                                    <div class="intro-icon">
                                        <i class="icon-subscription"></i>
                                    </div>
                                </div>
                                <div class="intro-item">
                                    <div class="intro-content">
                                        <h4>۲۰</h4>
                                        <p>علاقه مندی ها</p>
                                    </div>
                                    <div class="intro-icon">
                                        <i class="icon-computer-play-1"></i>
                                    </div>
                                </div>
                                <div class="intro-item">
                                    <div class="intro-content">
                                        <h4>۴۳۰,۰۰۰</h4>
                                        <p>موجودی حساب</p>
                                    </div>
                                    <div class="intro-icon">
                                        <i class="icon-money-bag"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-menu">
                        <ul class="nav nav-underline">
                            <li class="nav-item">
                                <a href="{% url 'user:profile' %}" class="nav-link {% block my_account %}"{% endblock %}>اکانت من</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link {% block likes %}" {% endblock %}>علاقه مندی</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'user:notification' %}" class="nav-link {% block notification %}" {% endblock %}>اعلانات
                                    {% if notification_counts > 0 %}<span class="badge">{{ notification_counts }}</span>{% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'user:change-password' %}" class="nav-link {% block change_password %}" {% endblock %}>تغییر پسورد</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'user:packages' %}" class="nav-link {% block packages %}" {% endblock %}>خرید پکیج</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a href="{% url 'user:logout' %}" class="nav-link"><i class="far fa-sign-out"></i>خروج</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="profile-menu-content">
                    <div class="tab-content" id="profile-pills-tabContent">

                        {% block content %}  {% endblock %}
                        
                    </div>
                </div>
            </div>
        </div>

    </main>

    {% include 'components/footer.html' %}
    <a href="#" id="scroll-top"><i class="far fa-arrow-up-from-arc"></i></a>

</body>

</html>