{% load static %}
<footer class="footer-area" dir="rtl">
    <div class="footer-widget">
        <div class="container">
            <div class="footer-widget-wrapper pt-100 pb-50">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget-box about-us">
                            <a href="#" class="footer-logo">
                                <img src="{% static 'images/logo.png' %}" class="logo-dark-mode" alt="">
                                <img src="{% static 'images/logo-dark.png' %}" class="logo-light-mode" alt="">
                            </a>
                            <p class="mb-3">
                                اینجا پر از فیلم و سریال رایگان هست. میتونید با اینترنت نیم بها فیلم ها رو دانلود کنید
                            </p>
                            <!-- LANGUAGE -->
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">سایت</h4>
                            <ul class="footer-list">
                                <li><a href="{% url 'about' %}">درباره ما</a></li>
                                <li><a href="{% url 'contact-us' %}">تماس با ما</a></li>
                                <li><a href="#">بلاگ</a></li>
                                <li><a href="{% url 'terms' %}">شرایط خدمات</a></li>
                                <li><a href="#">اخبار به‌روزرسانی</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">حساب</h4>
                            <ul class="footer-list">
                                <li><a href="{% url 'user:login' %}">ورود</a></li>
                                <li><a href="{% url 'user:register' %}">ثبت نام</a></li>
                                <li><a href="{% url 'user:profile' %}">پروفایل</a></li>
                                <li><a href="{% url 'user:forgot-password' %}">فراموشی رمز عبور</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">پشتیبانی</h4>
                            <ul class="footer-list">
                                <li><a href="#">مرکز راهنمایی</a></li>
                                <li><a href="#">سؤالات متداول</a></li>
                                <li><a href="{% url 'user:profile' %}">حساب من</a></li>
                                <li><a href="#">درخواست فیلم</a></li>
                                <li><a href="#">پشتیبانی</a></li>
                                <li><a href="#">اشتراک</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- NEWSPAPER -->
                    <div class="col-12">
                        <div class="footer-top-link">
                            <a href="#">IMDB برتر</a>
                            <a href="#">2025</a>
                            <a href="#">فیلم‌ها</a>
                            <a href="#">سریال ها</a>
                            <a href="#">هندی</a>
                            <a href="#">عاشقانه</a>
                            <a href="#">فانتزی</a>
                            <a href="#">انیمیشن</a>
                            <a href="#">موسیقی</a>
                            <a href="#">جرم</a>
                            <a href="#">وحشتناک</a>
                            <a href="#">ورزش</a>
                            <a href="#">درام</a>
                            <a href="#">تماشا کنید</a>
                            <a href="#">نقشه سایت</a>
                            <a href="#">شو کمدی</a>
                            <a href="#">کمدی</a>
                            <a href="#">تماشا کنید</a>
                            <a href="#">آخرین فیلم</a>
                            <a href="#">فیلم آینده</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p class="copyright-text">
                        © حق کلی و رایت <span id="date"></span> <a href="#"> موپلی </a> همه حقوق سایت.
                    </p>
                </div>
                <div class="col-md-6 align-self-center">
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-square-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="#"><i class="fab fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/modernizr.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min' %}.js"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.appear.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/counter-up.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/plyr.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>