<div class="pagination-area mt-30">
    <div aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" 
                {% if object.has_previous %}
                href="?page={{ object.previous_page_number }}" 
                {% else %} disabled {% endif %}aria-label="Previous">
                    <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                </a>
            </li>
            {% if object.has_previous and object.previous_page_number > 0 %}
            <li class="page-item "><a class="page-link" href="?page=1">1</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" disabled>{{ object.number }}</a></li>
            <!-- <li class="page-item"><span class="page-link"></span></li> -->
            {% if object.has_next and object.next_page_number < object.paginator.num_pages|add:1 %}
            <li class="page-item"><a class="page-link" href="?page={{ object.paginator.num_pages }}">{{ object.paginator.num_pages }}</a></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" 
                {% if object.has_next %}
                href="?page={{ object.next_page_number }}" 
                {% else %}
                disabled
                {% endif %}
                aria-label="Next">
                    <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                </a>
            </li>
        </ul>
    </div>
</div>