{% extends 'base.html' %}
{% load static %}

{% block change_password %}text-success" style="text-decoration: underline;"{% endblock %}

{% block content %}
{% if msg and msg == 'change_password success' %}
<div class="alert alert-success">
    تغییر پسورد با موفقیت انجام شد.
</div>
{% endif %}
<div class="tab-pane fade show active">
    <div class="row">
        <div class="col-lg-6">
            <div class="profile-menu-info">
                <h4 class="title">تغییر پسورد</h4>
                <div class="profile-form">
                    <form method="post">
                        {% csrf_token %}
                        {% for error in change_password_form.non_field_errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        <div class="row">
                            {% for field in change_password_form %}
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ field.as_field_group }}
                                </div>
                                {% for error in field.errors %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    {{ error }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12">
                            <button class="theme-btn" type="submit"><span
                                    class="far fa-save"></span> تغییر پسورد</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}