{% extends 'user/base-auth.html' %}
{% load static %}
{% block content %}
                        <div class="auth-header">
                            <img src="{% static 'images/logo.png' %}" class="logo-dark-mode" alt="">
                            <img src="{% static 'images/logo-dark.png' %}" class="logo-light-mode" alt="">
                            <p>رمز عبور حساب موپلی خود را بازنشانی کنید</p>
                        </div>
                        <div class="auth-form">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>شماره موبایل</label>
                                    <input type="number" name="number" class="form-control" placeholder="شماره موبایل">
                                    {% if msg %}
                                    <div class="alert 
                                    {% if msg == 'link sended' %} alert-success {% elif msg == 'please wait' %} alert-warning {% else %} alert-danger {% endif %} alert-dismissible fade show" role="alert-authenticate">
                                        {% if msg == 'please wait' %}
                                        لطفا 5 دقیقه از آخرین تلاش خود صبر کنید.
                                        {% elif msg == 'link sended' %}
                                        کد با موفقیت ارسال شد.
                                        {% elif msg == 'number not found' %}
                                        شماره موبایل اشتباه است.
                                        {% elif msg == 'captcha failed' %}
                                        لطفا کپچا رو تایید کنید.
                                        {% endif %}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert-authenticate" aria-label="Close"></button>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ recaptcha_form.as_p }}
                                </div>
                                <div class="auth-btn">
                                    <button {% if msg == 'link sended' %} disabled {% endif %} id="btn-send-link" type="submit" class="theme-btn {% if msg == 'link sended' %} text-bg-warning {% endif %}"><span class="far fa-key"></span>ارسال لینک</button>
                                </div>
                            </form>

                            {% if msg == 'link sended' %}
                            <script>
                            var countDownDate = new Date().getTime() + 5 * 60 * 1000;

                            var x = setInterval(function () {
                                var now = new Date().getTime();
                                var distance = countDownDate - now;

                                var minutes = Math.floor(distance / (1000 * 60));
                                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                document.getElementById("btn-send-link").innerHTML = minutes + "m " + seconds + "s ";

                                if (distance < 0) {
                                    clearInterval(x);
                                    target = document.getElementById("btn-send-link");
                                    target.innerHTML = '<span class="far fa-key"></span>ارسال';
                                    target.disabled = false;
                                }
                            }, 1000);
                            </script>
                            {% endif %}

                        </div>
{% endblock %}